eureka:
  instance:
    instance-id: ${spring.application.name}
    prefer-ip-address: true
server:
  port: 9999
spring:
  application:
    name: gateway-server
  profiles:
    active: dev
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          routes:
            - id: pipeline
              uri: lb://pipeline
              predicates:
                - Path=/pipeline/**
              filters:
                - RewritePath=/pipeline/(?<segment>.*),/$\{segment}
                - name: CircuitBreaker
                  args:
                    name: pipelineCircuitBreaker
                    fallbackUri: forward:/fallback/pipeline
#                    statusCode:
#                      - 500
#                      - 400
            - id: account
              uri: lb://account
              predicates:
                - Path=/account/**
              filters:
                - RewritePath=/account/(?<segment>.*),/$\{segment}
                - name: CircuitBreaker
                  args:
                    name: accountCircuitBreaker
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090
      client:
        provider:
          itp-standard:
            issuer-uri: http://localhost:9090
        registration:
          itp-standard:
            provider: itp-standard
            client-id: itp-standard
            client-secret: qwerqwer
            redirect-uri: http://localhost:9999/login/oauth2/code/itp-standard
            authorization-grant-type:
              - authorization_code
              - client_credentials
              - refresh_token

            scope:
              - openid # Auto issue access token
              - profile # Get profile
              - email # Get email
# Resilience4J
resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10 # number of request that we set to test request (allow 10 request)
        failure-rate-threshold: 50 # in %, if 50% change state form CLOSED to OPEN
        permitted-number-of-calls-in-half-open-state: 2 # when state changed to OPEN it request 2 times
        wait-duration-in-open-state: 10000 # wait before change to HALF_OPEN
# Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"